---
import type { Props } from "@astrojs/starlight/props";
import logoLight from "../assets/logoLight.svg";
import logoDark from "../assets/logoDark.svg";
---

<a href="/" class="flex flex-row items-center no-underline text-inherit">
	<picture>
		<source srcset={logoDark.src} media="(prefers-color-scheme: dark)" />
		<source srcset={logoLight.src} media="(prefers-color-scheme: light)" />
		<img src={logoLight.src} alt="logo" class="w-14 h-14 rounded-full" />
	</picture>
	<div class="flex items-center gap-2 ml-2">
		<span class="text-lg font-semibold" style="color: var(--sl-color-white)"
			>IoC Arise</span
		>
		<span
			class="text-xs font-normal opacity-80"
			style="color: var(--sl-color-gray-3)">by</span
		>
		<a
			href="https://notjustcoders.com"
			target="_blank"
			rel="noopener noreferrer"
			class="text-xs no-underline font-normal opacity-80 transition-all duration-200 hover:opacity-100 hover:underline"
			style="color: var(--sl-color-accent-high);"
		>
			NotJustCoders
		</a>
	</div>
</a>
